$c-gray-light: #edf3f6;
$c-primary: #55FF33;
$c-secondary: #73896F;
$c-light: #c3fdc5;
$c-text: #000;
$bdc-base: #73896F;
$bgc-body: #fff;
$c-button-outlined: #fff;
$color-letra-heading: #A6F297;
@import '../node_modules/sierra-library/lib/index';
// quitamos la flecha que pone el sierra en el selector
.select::after, .select::before {
    background: transparent;
}