$c-gray-light: #edf3f6;
$c-primary: #A152F7;
$c-secondary: #9b59b6;
$c-light: #bc8ef1;
$c-text: #000;
$bdc-base: #C04AF7;
$bgc-body: #fff;
$c-button-outlined: #fff;
$color-letra-heading: #7656F7;
@import '../node_modules/sierra-library/lib/index';
// quitamos la flecha que pone el sierra en el selector
.select::after, .select::before {
    background: transparent;
}